body{
    font-family: 'Dongle', sans-serif;
    background-color: #AAAAAA;
   
}
/* ----header-style start---- */
.main-container{
    display: flex;
    justify-content: center;
}
.sec-container{
background-color: #FFFFFF;
width: 1200px;
padding: 30px;
border-radius: 20px;

}

.first-heading{
    align-items: center;  
}
h1{
    font-size: 40px;
    margin-left: 30px;
}
.fa-earlybirds{
    color: #E02C6D;
}
.first-heading{
    display: flex;
}
.navbar{
    display: flex;
    justify-content: end;
}
nav ul{
    display: flex;
    font-size: 25px;
    margin-left: 420px;

}
nav li{
    list-style: none;
    margin-right: 20px;
}
/* ----header-style end---- */
/* first-topic start */
.first-topic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pragraph{
    margin-left: 35px;
    font-size: 35px;
}
.influ1 img{
    width: 600px;
    height: 500px;
}
.button{
    
    text-decoration: none;
    font-size: 25px;
    text-decoration: none;
    color: white;
    background-color: #EF3B7C;
    padding: 10px 20px;
    border-radius: 20px;
 

}
.fa-long-arrow-alt-right{
    position: relative;
}
/* first-topic end */
/* second topic start */
hr{
    display: flex;
    border:1px solid #D1D1D1;
    margin-top: 27px;
    margin-bottom: 27px; 
}
.logos{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}
/* second topic end */
    





    
    
   

