body{
    font-family: 'Dongle', sans-serif;
}
/* ----header-style start---- */
.first-heading{
    align-items: center;
}
h1{
    font-size: 40px;
    margin-left: 30px;
}
.fa-earlybirds{
    color: #E02C6D;
}
.first-heading{
    display: flex;
}
nav ul{
    display: flex;
    font-size: 35px;
    margin-left:450px

}
nav li{
    list-style: none;
    margin-right: 20px;
}
/* ----header-style end---- */
/* first-topic start */
.first-topic{
    display: flex;
    align-items: center;
}
.pragraph{
    margin-left: 35px;
    font-size: 35px;
}
.influ1 img{
    width: 600px;
    height: 500px;
}
.button{
    
    text-decoration: none;
    font-size: 25px;
    text-decoration: none;
    color: white;
    background-color: #EF3B7C;
    padding: 10px 20px;
    border-radius: 20px;
 

}
.fa-long-arrow-alt-right{
    position: relative;
}



/* first-topic end */

    





    
    
   

